node_modules/
miniprogram_npm/
.cloud/
*.log
.DS_Store

# Cloud function dependencies
cloudfunctions/*/node_modules/

# WeChat DevTools
.wechat_devtools/

# Java
server/target/
server/data/
server/uploads/
*.class
*.jar
!server/.mvn/wrapper/maven-wrapper.jar
miniprogram/pages/**/*.js
